/data/lmd_matched
/data/results
/data/midi_files
/data/lmd_segments.npy
/data/lmd_compiled.npy
/data/midi_segments.npy
/data/midi_compiled.npy
/data/vizzes
/data/old_files
*.html
*.twb
*.twbr
*.ipynb
*.ipynb_checkpoints
/exp
